.footer {
  margin-top: 60px;
  background: #25252B;
  padding: 40px 0;

  @media (max-width: 768px) {
    padding: 48px 0;
  }

  &__flex-row {
    @media (max-width: 1024px) {
      margin: 0;
    }
  }

  &__left {
    align-items: flex-start;

    @media (max-width: 1024px) {
      margin: 0;
      max-width: 190px;
      width: 100%;
    }
  }

  &__right {
    @media (max-width: 1024px) {
      margin: 0 0 0 55px;
      align-items: flex-start;
      width: 100%;
      max-width: 360px;
    }
    @media (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  &__mobile {
    @media (max-width: 768px) {
      margin: 0;
      width: 100%;
      max-width: 190px;
    }
  }

  &__logo {
    max-width: 470px;

    @media (max-width: 1280px) {
      max-width: 370px;
    }

    @media (max-width: 1024px) {
      width: 185.14px;
      height: 30px;
    }

    &--img {
      width: 100%;
    }
  }

  &__copyright {
    padding-top: 40px;
    font-size: 18px;
    line-height: 25px;
    color: #E5E5E5;

    @media (max-width: 1024px) {
      padding-top: 16px;
      font-size: 12px;
      line-height: 16px;
    }

    @media (max-width: 768px) {
      padding: 16px 0 32px;
    }

    br {
      display: none;

      @media (max-width: 1024px) {
        display: block;
      }
    }

    &--desktop {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &--mob {
      order: 2;
      @media (min-width: 769px) {
        display: none;
      }
    }
  }

  &__policy {
    margin-top: 16px;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #FFFFFF;
    opacity: 0.7;
    transition: all .2s ease;

    @media (max-width: 1024px) {
      font-size: 12px;
      line-height: 16px;
    }

    @media (max-width: 768px) {
      margin-top: 32px;
    }

    &:hover {
      opacity: 1;
      color: #03A65A;
    }

    &--desktop {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &--mob {
      order: 1;

      @media (min-width: 769px) {
        display: none;
      }
    }
  }

  &__btn-clutch {
    margin-top: auto;
    height: 40px;
    padding: 0 28px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    &--desktop {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &--mob {
      order: 3;

      @media (min-width: 769px) {
        display: none;
      }
    }
  }

  &__clutch-svg {
    height: 20px;
    width: 70px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 195px;
    margin: -8px -70px;

    @media (max-width: 1366px) {
      margin: -8px -24px;
    }

    @media (max-width: 1024px) {
      max-height: 150px;
      margin: -8px 0;
    }

    @media (max-width: 768px) {
      max-height: 100%;
      max-width: 100%;
      margin: 48px 0 -8px;
      width: 50%;
    }
  }

  &__menu-item {
    margin: 8px 70px;

    @media (max-width: 1366px) {
      margin: 8px 24px;
    }

    @media (max-width: 1024px) {
      margin: 8px 0;
      max-width: 160px;
    }
  }

  &__menu-link {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    transition: color .2s ease;
    color: #fff;

    @media (max-width: 1366px) {
      font-size: 32px;
      line-height: 44px;
    }

    @media (max-width: 1024px) {
      font-size: 24px;
      line-height: 33px;
    }
  }

  &__menu-mini {
    margin-top: 32px;

    @media (max-width: 1024px) {
      margin-top: 16px;
    }

    @media (max-width: 768px) {
      width: 50%;
      margin-top: 60px;
      flex-direction: column;
    }
  }

  &__menu-mini-list {
    opacity: 0;
    display: flex;
    justify-content: flex-start;
    transition: opacity .3s ease-in-out;

    @media (max-width: 768px) {
      padding-top: 16px;
      flex-direction: column;
    }
  }

  &__menu-mini-item {
    & + & {
      margin-left: 32px;

      @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }

  &__menu-mini-link {
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    transition: all .2s ease;

    @media (max-width: 1024px) {
      font-size: 14px;
      line-height: 19px;
    }

    &:hover {
      color: $color-green;
      text-align: center;
    }
  }

  &__social {
    margin-top: 32px;
  }

}