<section class="advantages js_advantages" data-anchor="advantages">
    <div class="advantages__bg"
         style="background: linear-gradient(0deg, rgba(3, 166, 90, 0.85), rgba(3, 166, 90, 0.85)), url(img/advantages.png), #C4C4C4; background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
    <div class="container">
        <div class="flex-row text-center">
            <div class="advantages__item flex-row--4">
                <p class="advantages__num js_counter">750</p>
                <p class="advantages__text">Cотрудников</p>
            </div>
            <div class="advantages__item flex-row--4">
                <p class="advantages__num js_counter">100</p>
                <p class="advantages__text">Успешных проектов</p>
            </div>
            <div class="advantages__item flex-row--4">
                <p class="advantages__num js_counter">60000</p>
                <p class="advantages__text">Часов на ваши проекты</p>
            </div>
        </div>
    </div>
</section>