<section class="clients" data-anchor="clients">
    <div class="container">
        <p class="subheading">— клиенты</p>
        <h2 class="heading">Наши клиенты</h2>

        <div class="clients__slider js_clients__slider">
            <div class="clients__slide">
                <div class="clients__inner flex-row">
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/1.png')"></div>
                    </div>
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/2.png')"></div>
                    </div>
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/3.png')"></div>
                    </div>
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/4.png')"></div>
                    </div>
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/5.png')"></div>
                    </div>
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/6.png')"></div>
                    </div>
                </div>
            </div>
            <div class="clients__slide">
                <div class="clients__inner flex-row">
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/1.png')"></div>
                    </div>
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/2.png')"></div>
                    </div>
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/3.png')"></div>
                    </div>
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/4.png')"></div>
                    </div>
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/5.png')"></div>
                    </div>
                    <div class="clients__item flex-row--4">
                        <div class="clients__img-block"
                             style="background-image: url('img/clients/6.png')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>