<section class="hero">
    <div class="container">
        <div class="hero__text-wrapper">
            <h1 class="hero__title">Какой-то заголовок</h1>
            <p class="hero__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices facilisis
                vulputate congue elit hendrerit.</p>
            <a href="#" class="hero__btn anim-btn" data-text="Get in touch">
                <span class="anim-btn__overlay"></span>
                <span class="anim-btn__text">Get in touch</span>
            </a>
        </div>
        <a class="hero__video-btn js_hero_video_btn">
            <svg class="hero__video-btn__svg" viewBox="0 0 167 167" xmlns="http://www.w3.org/2000/svg">
                <path class="path-play" d="M109.697 84.3953L71.7422 106.308L71.7422 62.4822L109.697 84.3953Z"/>
                <path class="path-pause" fill-rule="evenodd" clip-rule="evenodd"
                      d="M78 61H68V107H78V61ZM100 61H90V107H100V61Z"/>
            </svg>
        </a>
    </div>
    <div class="hero__video-overlay"></div>
    <video class="hero__video" preload="true" loop="" muted="" autoplay="" data-reactid="111">
        <source src="https://strvothers.s3.amazonaws.com/web-videos/showreel-strv-1080p.mp4" type="video/mp4"
                poster="/dist/0ebbe7ff76cb199d78be5d7f42820564.jpg" data-reactid="112">
    </video>
</section>