<section class="reviews" data-anchor="reviews">
    <div class="container">
        <p class="subheading">— отзывы</p>
        <h2 class="heading">Отзывы клиентов</h2>

        <div class="reviews__slider js_reviews_slider">
            <div class="reviews__slide">
                <div class="reviews__img-block js_review_img">
                    <img src="img/reviews/1.png" alt="" class="reviews__img">
                </div>
                <div class="reviews__text js_review_text">
                    “ 1 Lorem ipsum sectetur adipiscing elit”
                </div>
                <div class="reviews__name js_review_name">Name 1</div>
                <div class="reviews__position js_review_position">Company Name. Co-Founder & CEO</div>
                <a href="#link1" class="reviews__link js_review_link"></a>
            </div>
            <div class="reviews__slide">
                <div class="reviews__img-block js_review_img">
                    <img src="img/reviews/2.png" alt="" class="reviews__img">
                </div>
                <div class="reviews__text js_review_text">
                    “ 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit”
                </div>
                <div class="reviews__name js_review_name">Name 2</div>
                <div class="reviews__position js_review_position">Company Name. Co-Founder & CEO</div>
                <a href="#link2" class="reviews__link js_review_link"></a>
            </div>
            <div class="reviews__slide">
                <div class="reviews__img-block js_review_img">
                    <img src="img/reviews/3.png" alt="" class="reviews__img">
                </div>
                <div class="reviews__text js_review_text">
                    “ 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit”
                </div>
                <div class="reviews__name js_review_name">Name 3</div>
                <div class="reviews__position js_review_position">Company Name. Co-Founder & CEO</div>
                <a href="#link3" class="reviews__link js_review_link"></a>
            </div>
            <div class="reviews__slide">
                <div class="reviews__img-block js_review_img">
                    <img src="img/reviews/4.png" alt="" class="reviews__img">
                </div>
                <div class="reviews__text js_review_text">
                    “ 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit”
                </div>
                <div class="reviews__name js_review_name">Name 4</div>
                <div class="reviews__position js_review_position">Company Name. Co-Founder & CEO</div>
                <a href="#link4" class="reviews__link js_review_link"></a>
            </div>
            <div class="reviews__slide">
                <div class="reviews__img-block js_review_img">
                    <img src="img/reviews/5.png" alt="" class="reviews__img">
                </div>
                <div class="reviews__text js_review_text">
                    “ 5 Lorem ipsum dolor sit amet, consectetur adipiscing elit”
                </div>
                <div class="reviews__name js_review_name">Name 5</div>
                <div class="reviews__position js_review_position">Company Name. Co-Founder & CEO</div>
                <a href="#link5" class="reviews__link js_review_link"></a>
            </div>
            <div class="reviews__slide">
                <div class="reviews__img-block js_review_img">
                    <img src="img/reviews/6.png" alt="" class="reviews__img">
                </div>
                <div class="reviews__text js_review_text">
                    “ 6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit”
                </div>
                <div class="reviews__name js_review_name">Name 6</div>
                <div class="reviews__position js_review_position">Company Name. Co-Founder & CEO</div>
                <a href="#link6" class="reviews__link js_review_link"></a>
            </div>
            <div class="reviews__slide">
                <div class="reviews__img-block js_review_img">
                    <img src="img/reviews/7.png" alt="" class="reviews__img">
                </div>
                <div class="reviews__text js_review_text">
                    “ 7 Lorem ipsum dolor sit amet, consectetur adipiscing elit”
                </div>
                <div class="reviews__name js_review_name">Name 7</div>
                <div class="reviews__position js_review_position">Company Name. Co-Founder & CEO</div>
                <a href="#link7" class="reviews__link js_review_link"></a>
            </div>
            <div class="reviews__slide">
                <div class="reviews__img-block js_review_img">
                    <img src="img/reviews/8.png" alt="" class="reviews__img">
                </div>
                <div class="reviews__text js_review_text">
                    “ 8 Lorem ipsum dolor sit amet, consectetur adipiscing elit”
                </div>
                <div class="reviews__name js_review_name">Name 8</div>
                <div class="reviews__position js_review_position">Company Name. Co-Founder & CEO</div>
                <a href="#link8" class="reviews__link js_review_link"></a>
            </div>
        </div>
    </div>
</section>