<section class="services services--hero" data-anchor="services">
    <div class="container">
        <p class="subheading">— наши услуги</p>
        <h2 class="heading">Наши услуги и продукты</h2>

        <div class="services__inner flex-row">
            <div class="services__item flex-row--6 js_services_item"
                 style="background-image: url(img/our-services/1.png)">
                <div>
                    <p class="services__item-heading">Продукты</p>
                    <p class="services__item-subheading js_services_btn">Узнать больше</p>
                </div>
                <div class="services__info js_services_more_info">
                    <ul class="services__list">
                        <li class="services__list-item">
                            <a class="services__link" href="#">Аудит</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Консалтинг и обучение</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">T&M</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Внедрение</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">QA Automated</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">QA Manual</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Aутсорсинг</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Аутстаффинг</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Консалтинг</a>
                        </li>
                    </ul>
                    <a href="#" class="services__see-all">Посмотреть всё</a>
                </div>
            </div>
            <div class="services__item flex-row--6 js_services_item"
                 style="background-image: url(img/our-services/2.png)">
                <div>
                    <p class="services__item-heading">QA</p>
                    <p class="services__item-subheading js_services_btn">Узнать больше</p>
                </div>
                <div class="services__info js_services_more_info">
                    <ul class="services__list">
                        <li class="services__list-item">
                            <a class="services__link" href="#">Аудит</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Консалтинг и обучение</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">T&M</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Внедрение</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">QA Automated</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">QA Manual</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Aутсорсинг</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Аутстаффинг</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Консалтинг</a>
                        </li>
                    </ul>
                    <a href="#" class="services__see-all">Посмотреть всё</a>
                </div>
            </div>
            <div class="services__item flex-row--6 js_services_item"
                 style="background-image: url(img/our-services/3.png)">
                <div>
                    <p class="services__item-heading">Услуги</p>
                    <p class="services__item-subheading js_services_btn">Узнать больше</p>
                </div>
                <div class="services__info js_services_more_info">
                    <ul class="services__list">
                        <li class="services__list-item">
                            <a class="services__link" href="#">Аудит</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Консалтинг и обучение</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">T&M</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Внедрение</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">QA Automated</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">QA Manual</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Aутсорсинг</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Аутстаффинг</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Консалтинг</a>
                        </li>
                    </ul>
                    <a href="#" class="services__see-all">Посмотреть всё</a>
                </div>
            </div>
            <div class="services__item flex-row--6 js_services_item"
                 style="background-image: url(img/our-services/4.png)">
                <div>
                    <p class="services__item-heading">PM&BA</p>
                    <p class="services__item-subheading js_services_btn">Узнать больше</p>
                </div>
                <div class="services__info js_services_more_info">
                    <ul class="services__list">
                        <li class="services__list-item">
                            <a class="services__link" href="#">Аудит</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Консалтинг и обучение</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">T&M</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Внедрение</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">QA Automated</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">QA Manual</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Aутсорсинг</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Аутстаффинг</a>
                        </li>
                        <li class="services__list-item">
                            <a class="services__link" href="#">Консалтинг</a>
                        </li>
                    </ul>
                    <a href="#" class="services__see-all">Посмотреть всё</a>
                </div>
            </div>
        </div>
    </div>
</section>