<section class="values" data-anchor="values">
    <div class="container">
        <p class="subheading">— Ценности</p>
        <h2 class="heading">Наши ценности</h2>

        <div class="values__inner flex-row">
            <div class="values__item flex-row--6">
                <img alt="" src="img/values/11.svg" class="values__icon">
                <div>
                    <div class="values__title">Профессионализм</div>
                    <div class="values__text">
                        Мы воплощаем наш опыт и компетенцию в достижение амбициозных целей клиентов
                    </div>
                </div>
            </div>
            <div class="values__item flex-row--6">
                <img alt="" src="img/values/22.svg" class="values__icon">
                <div>
                    <div class="values__title">Настойчивость</div>
                    <div class="values__text">
                        Настойчивость для достижения лучшего результата
                    </div>
                </div>
            </div>
            <div class="values__item flex-row--6">
                <img alt="" src="img/values/33.svg" class="values__icon">
                <div>
                    <div class="values__title">Восприятие</div>
                    <div class="values__text">
                        Понимаем потребности и адаптируемся для достижения общего успеха
                    </div>
                </div>
            </div>
            <div class="values__item flex-row--6">
                <img alt="" src="img/values/44.svg" class="values__icon">
                <div>
                    <div class="values__title">Люди</div>
                    <div class="values__text">
                        Мы совершенствуемся благодаря успехам каждого из нас
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>